{% extends './base.html' %}

{% block title %}Recuperar contraseña{% endblock %}

{% block body %}
    <div class="container">
        <h1>Recuperar contraseña</h1>
        <form action="/lostpass", method='POST'>
          {% with messages = get_flashed_messages() %}

          {% if messages %}
          <br />
          {% for message in messages %}
          <div class="alert alert-primary alert-dismissible" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          {% endif %}
      
          {% endwith %}
          <input type="texto" name="username" placeholder="Nombre de Usuario" required>
          <br><br>
          <input type="password" name="npass" placeholder="Nueva contrase&ntilde;a">
          <br><br><br>
          
          <h1>Codigo de seguridad</h1>
          <input type="text" name="codigoVer" placeholder="Codigo de verificación">
          <br><br>
          <button type="submit">Cambiar contraseña</button>
        </form>
      </div>
{% endblock %}