{% extends './base.html' %}

{% block title %}Iniciar sesión{% endblock %}

{% block body %}
    <div class="container">
        <h1>Iniciar sesión</h1>
        <form action="/signin" method="POST">

          {% with messages = get_flashed_messages() %}

          {% if messages %}
          <br />
          {% for message in messages %}
          <div class="alert alert-primary alert-dismissible" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          {% endif %}
      
          {% endwith %}


          <input type="text" name="username" placeholder="Nombre de usuario" required>
          <br>
          <br>
          <input type="password" name="password" placeholder="Contraseña" required>
          <br>
          <br>
          <button type="submit">Iniciar sesión</button>
          <br><br>
          <a href="{{url_for('lostpass')}}">Recuperar contraseña</a>
          <br><br><br>
          <a href="{{url_for('signUp')}}">Registrarse</a>
        </form>
      </div>
{% endblock %}